.about-us-title {
    color: #EC2924;
}

@media (max-width: 767.98px) {

    .vision-img img,
    .Values-img img {
        width: 1.875rem;
    }

    .about-section p {
        font-size: .625rem !important;
    }
}