<section id="about" class="about-section py-5 my-lg-5 text-capitalize">
    <div class="container">
        <div class="about-us-title mb-md-5 mb-3">
            <h1 class="text-center display-4 fw-bold fade-in-up">our story</h1>
        </div>

        <div class="row">
            <div class="col-xl-6">
                <h2 class="fw-semibold text-black fs-1 slide-in-left">CREATIVE COMMITMENT</h2>
                <p class="text-muted fw-semibold slide-in-left">We are a bonded family that mix and match creativity and commitment to
                    help brands
                    go beyond the limit. Bonders are a blend of cheerful, uprising and creative peeps working to deliver
                    outstanding services. We are committed and loyalty runs in the veins; when we are put together our
                    results blow minds.</p>

                <div class="row fw-semibold mt-4">
                    <div class="col-6">
                        <div class="vision d-flex justify-content-center gap-3 hover-lift">
                            <div class="vision-img">
                                <img src="imgs/vision.png" class="red-fillter hover-scale" alt="vision img">
                            </div>
                            <div class="Vision-text">
                                <h3 class="text-black">Vision</h3>
                                <p class="text-muted">To become the top agency offering online marketing solutions,
                                    digital
                                    sales services, and
                                    software development in the MENA business sphere.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="Values d-flex justify-content-center gap-3 hover-lift">
                            <div class="vision-img">
                                <img src="imgs/mission.png" class="red-fillter hover-scale" alt="vision img">
                            </div>
                            <div class="Values-text">
                                <h3 class="text-black">Values</h3>
                                <p class="text-muted">Accountability, Honesty, Simplicity & Curiosity.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 d-xl-flex justify-content-end align-items-center d-none">
                <img src="imgs/about.png" alt="about section img" class="slide-in-right hover-scale">
            </div>
        </div>
    </div>
</section>