.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    font-size: 1.25rem;
    transition: all 0.5s ease;
    text-decoration: none;
}

.social-icon:hover {
    background-color: #000;
    color: #fff;
}

.red-fillter {
    filter: invert(26%) sepia(86%) saturate(7476%) hue-rotate(354deg) brightness(95%) contrast(101%);
}